<?xml version="1.0"?>
<config>
   <modules>
      <GammaFX_AttSpecs>
         <version>0.0.1</version>
      </GammaFX_AttSpecs>
   </modules>
   <global>
		<helpers>
		  <attspecs>
			<class>GammaFX_AttSpecs_Helper</class>
		  </attspecs>
		</helpers>
		<blocks>
			<attspecs>
                <class>GammaFX_AttSpecs_Block</class>
            </attspecs>
		</blocks>
       <models>
           <attspecs>
               <class>GammaFX_AttSpecs_Model</class>
           </attspecs>
       </models>
   </global>
	<adminhtml>
		<layout>
			<updates>
				<gammafx_attspecs>
					<file>attspecs.xml</file>
				</gammafx_attspecs>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<attspecs>
			<general>
				<is_metric>1</is_metric>
			</general>
		</attspecs>
	</default>
</config>
